.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.navbar .logo {
  width: 400px;
}
.footer {
  background-color: #fff;
  color: #0d5b5e;
  padding: 5px;
}
.footer a {
  color: #0d5b5e;
}
