@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

.App {
  text-align: center;
}

.App button {
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #141414;
  color: #fff;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 3px;
}
